*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  display: flex;
  justify-content: center;
  width: 90dvw;
  height: 90dvh;
  margin-top: 20px;
}